[Unit]
Description=Freya Environment Sensor Driver
Documentation=https://github.com/Freya-Vivariums
After=multi-user.target dbus.service

[Service]
WorkingDirectory=/opt/Freya/hardware/sensor-driver
Type=simple
ExecStart=/usr/bin/node /opt/Freya/hardware/sensor-driver/build/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target